body{
    margin: 0 auto;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;

   
   
}

h1{
    font-family: 'Calibri', sans-serif;
    font-size: 58px;
}

#main-container{
    grid-template-columns: repeat(12,1fr);
    display: grid;
}
.text-container{
    text-align: center;
    grid-column: span 12;
    background-color: rgb(42, 42, 214);
    height: 50vh;
    color: white;
    width: 100vw;
}
.paragraph-container{
    grid-column: span 6;
    padding: 10px 10px;
    margin: 50px;
}